.login-warp {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.login-form {
  width: 60%;
  background-color: #cfb8ab;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 5px;
}

.login-form-top {
  height: 50px;
  text-align: center;
  font-family: "Damion", cursive;
  color: aliceblue;
  font-size: 50px;
}

.login-form-main {
  margin: 40px;
  text-align: left;
  background-color: #cfb8ab;
  color: rgb(111, 106, 106);
}
.signup {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}
