.btn{
  margin-left: 617px;
}

.producttrading-video{
  margin-top: 20px;
}

input.name{
  margin-left: 10px;
  margin-bottom: 5px;
}

input.title{
  margin-left: 10px;
  margin-bottom: 5px;
}

input.mail{
  margin-left: 10px;
}

textarea.comment{
  margin-left: 10px;
  margin-top: 20px;
}